<!-- <div class="workspace-heading" data-id="<%= workspace.id %>"> -->
  <!-- <div class="workspace-item" data-id="<%= workspace.id %>"> -->
    <div class="ws-title" data-id="<%= workspace.id %>">
    <h3 data-id="<%= workspace.id %>">
      <span class='shadow' data-id="<%= workspace.id %>"></span>
      <span class='details' data-id="<%= workspace.id %>">
        <%= workspace.escape("title") %>
      </span>
    </h3>
  </div>
    <div class="ws-item-members" id="members">

    </div>
  <!-- </div> -->
<!-- </div> -->
